

.logo>img{
    width: 30%
}

nav>ul {
    list-style-type: none;
    margin: 0;
}

.nav{
    align-items: center;
    display: inline;
	padding: 8px;
}


nav>ul>li>a::before {
    content: "台" 
}

.link {
    color: #eee;
}


/* .postTag {
    background-color: #abedc3;
} */


.mypost {
    padding: 10px;
}

hr.pad {
    margin: 5px;
    stroke-width: 1px;
}

.postPost {
    font-size: 18px;
    font-weight: bold;
}

.academic p {
    margin:0;
    display:flex;
    justify-content: space-between;
}

p {
    margin: 20px auto;
}

blockquote {
    font-weight: 800;
    font-size: 1.1em;
    font-style: italic;
}

div.signature {
    text-align: right;
    font-style: italic;
}