.logo>img{
    width: 30%
}

nav>ul {
    list-style-type: none;
    margin: 0;
}

.nav{
    align-items: center;
    display: inline;
	padding: 8px;
}


nav>ul>li>a::before {
    content: "Âè∞" 
}

.link {
    color: #eee;
}


/* .postTag {
    background-color: #abedc3;
} */


.mypost {
    padding: 10px;
}

hr.pad {
    margin: 5px;
    stroke-width: 1px;
}

.postPost {
    font-size: 18px;
    font-weight: bold;
}
