<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="shortcut icon" type="image/png" href="/..\dump/images/favicon.ico" /> -->
    <link rel="stylesheet" href={{ " \assets\css\hstyles.css" | relative_url }}>
    <link rel="stylesheet" href={{ " \assets\css\pstyles.css" | relative_url }}>


    <script>
        MathJax = {

            loader: {
                load: ['[tex]/mathtools']
            },
            tex: {
                packages: { '[+]': 'mathtools' },
                inlineMath: [
                    ['$', '$'],
                    ['\\(', '\\)']
                ]


            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <title> {{ page.title }} | {{ site.title }}</title>
    

</head>

<body>

    
    <header>
        <nav>
            <ul>
                <li class="nav"><a href="/" class="link"> Home </a></li>
            </ul>
        </nav>
    <h1 class = "pageTitle"> {{page.title}}</h1>
    <hr>
    </header>
    
    {{ content }}
</body>

<footer>
    <div>   <hr> </div>
</footer>

</html>