<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display"> -->
  <link rel="stylesheet" href="..\assets\css\style.css">
  <title>Shubhang Sharma</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168476475-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-168476475-1');
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap" rel="stylesheet">
  <script>
    MathJax = {

      loader: {
        load: ['[tex]/ams']
      },
      tex: {
        packages: { '[+]': ['ams'] },
        inlineMath: [
          ['$', '$'],
          ['\\(', '\\)']
        ]


      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>

  <script defer src="..\assets\js\app.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <h1 class="name"> SHUBHANG SHARMA </h1>
    <nav>
      <ul>
        <!-- <li class="name nav no-hover">Shubhang Sharma</li> -->
        <li class="nav"><a href="#about" class="link"> $\exists$ | ABOUT </a></li>
        <li class="nav"><a href="#projects" class="link">$\psi$ | ACADEMIC</a></li>
        <li class="nav"><a href="#yada" class="link">$\mathcal{L}$ | PERSONAL</a></li>
      </ul>
    </nav>
    <hr>
  </header>



  <div class="bg">{{ content }}</div>

</body>

<footer>
  <p> <b>CONTACT</b> - <a href="mailto:shubhangsharma123@gmail.com">EMAIL</a> | <a
      href="https://cohost.org/Shubhang?page=0">COHOST</a> </p>
  <p><b>LICENSE</b> - <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> </p>
  <p><b>DFTBA!</b></p>

</footer>

</html>